.container {
  width: 100vw;
  height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d1d8e5;
}

.container_itens{
  width: 450px;
  height: 550px;
  display: flexbox;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: auto;
}

.container_itens_header{
  display: flex;
  justify-content: center;
  border-bottom:  2px solid #e1e1e1;
  width: 100%;
  height: 13%;
}

.container_itens_body{
   padding: 1rem;
}

.container_items_list{
  display: flex;
  margin-bottom: 1rem;
}

.container_items_name{
  display: flexbox;
  width: 55%;
  padding-left: 10px;
}
.image_container{
  border: 2px solid #e1e1e1;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-height: 120px;
  
}

.container_total_items{
 
  width: 100%;
  border-top:2px solid #e1e1e1;
  border-bottom:2px solid #e1e1e1;
  min-height: 8rem;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container_total{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  height: 4rem;
}

.container_frete{
  width: 80%;
  border-radius: 20px;
  background-color: #c7ffa6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.container_frete_p{
  color: #217a00;
  font-size: 16px;
  margin: 0;
}

.container_button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  
}

.button{
  width: 25rem;
  height: 4rem;
  border-radius: 6px;
  background-color: #3b74f2;
  border-color: transparent;
}

.container_button_p{
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;

}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
